.product-img {
  height: 250px;
}

div.cards {
  padding: 10px;
  border-radius: 15px;
  width: 295px;
  border-style: none;
  border-width: 5px;
  padding: 20px;
  background-color: rgba(221, 220, 220, 0.425);
}

button.more-info-btn {
  background-color: gray;
  height: 20px;
}

button.add-btn {
  background-color: gray;
  height: 20px;
}

div.add-btn {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.cart-count {
    background-color: blue;
    color: wheat;
    border-radius: 10px;
    width: 260px;
    margin: 10px;
    font-weight: 500;
}