nav {
    /* position: absolute; */
    top: 0.01px;
    left: 0px;
    background: #036B52;
    width: 1920px;
    height: 55px;
    left: 0%;
    right: 61.82%;
    top: 0%;
    bottom: 0%;
  }
  
  button {
    border: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .products-btn {
    position: absolute;
    height: 105px;
    left: 0%;
    right: 80.89%;
    top: 0px;
    background: #2FC18C;
  }
  
  .orders-btn {
    position: absolute;
    height: 55px;
    width: 50px;
    left: 19.06%;
    right: 61.82%;
    top: 0px;
    background: #036B52;
  }
  
  .products-btn-text,
  .orders-btn-text,
  .username-text,
  .exit-btn-text {
    position: absolute;
    margin-top: 30px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #001813;
  }
  
  .orders-btn-text,
  .username-text,
  .exit-btn-text {
    color: #F2FFFC;
  }
  
  .username-container {
    position: absolute;
    height: 55px;
    left: 71.93%;
    right: 9.38%;
    top: 0.01px;
    background: #421981;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .exit-btn {
    position: absolute;
    height: 60px;
    left: 90.62%;
    right: 0%;
    top: 0px;
    background: #056CF9;
  }
  
  .exit-btn, .orders-btn, .products-btn {
    transform: translateY(-15px);
  }